{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <style>
        input[type="number"] {
            width: 60px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<header>
    <h1 class="company-name">Welcome to RxPress</h1>
    <br>
    <div class="nav-container">
        <nav>
            <a href="{% url 'pharmacy:homepage' %}">Home</a>
            <a href="{% url 'pharmacy:account' %}">Account</a>
            <a href="{% url 'pharmacy:cart_view' %}">Shopping Cart</a>
            <a href="">Order</a>
            <form action="{% url 'pharmacy:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </nav>
    </div>
</header>

<section>
    <h2 class="subtext">Medicine List</h2>
    <div class="container"> 
        <form action="{% url 'pharmacy:add_to_cart' %}" method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Strength</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medicine in medicines %}
                        <tr>
                            <td>{{ medicine.name }}</td>
                            <td>{{ medicine.description }}</td>
                            <td>{{ medicine.strength }}</td>
                            <td>{{ medicine.category }}</td>
                            <td>₱{{ medicine.price }}</td>
                            <td><input type="number" name="quantity_{{ medicine.id }}" value="1" min="1" required></td>
                            <td><input type="checkbox" name="selected_items" value="{{ medicine.id }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div style="text-align: center;">
                <button type="submit">Add Selected to Cart</button>
            </div>
        </form>        
    </div> 
</section>

</body>
</html>
