{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <link rel="stylesheet" href="{% static 'orders.css' %}">
</head>
<body>
<header>
    <h1>Order List</h1>
</header>
<section>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Cost</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.total_cost }}</td>
                    <td>
                        <ul>
                            {% for item in order.items.all %}
                                <li>{{ item.quantity }} x {{ item.medicine }} - ${{ item.item_cost }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</body>
</html>
