<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RxPress Splash Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="splash-screen">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo" style="position: absolute;">
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '/onboarding';
        }, 3000);
    </script>
</body>
</html>
